
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Coming+Soon&family=Nanum+Pen+Script&display=swap'); */

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Coming Soon', cursive;
  @apply bg-primary text-base-100;
}
  /* font-family: var(--main-font); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: "Coming Soon", cursive;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav-height: 63px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.vertical-container {
  display: flex; 
  flex-direction: column; 
  text-align: center;
  justify-content: center; 
  align-items: center; 
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
}


/* .background-grocery {
  position: relative;
  min-height: calc(100vh - 60px);
  background-image: url('../public/background/background_grocery.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
} */
  /* opacity: 0.8; */

/* .transparent-card {
  background: rgba(255, 255, 255, 0.6); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
  margin: 10px; 
} */
