
  .hero-background {
    position: relative;
    background-image: url('../../public/home/hero-1920.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 96dvh; 


  }
  
  @media (max-width: 1280px) {
    .hero-background {
      background-image: url('../../public/home/hero-1280.png');
        /* min-height: 25vh;   */
    }
  }

  @media (max-width: 640px) {
    .hero-background {
      background-image: url('../../public/home/hero-600.png');
        /* min-height: 25vh;   */
    }
  }


