/* https://palettes.shecodes.io/palettes/grey/color */

* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #c7b198;
}

.topnav ul{
  list-style-type: none;
 }

 .topnav li{
  display: inline;
 }

 .topnav a{
  float: right;
  color: #333;
  padding: 25px;
  background-color: transparent;
  text-decoration: none;
 }

 .topnav a:hover {
  color: #dfd3c3;
 } 
 
 .topnav a.active{
  color: #f0ece2;
 }

.topnav img{
  float: left;
  margin: 0px 50px;
  width: 80px;
  height: auto;
}

#homeimg{
  display: block;
  margin: 0 auto;
  width: 80%;
}

.centerDiv{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

button {
  border: none;
  background-color: transparent;
}

#addSemesterBtn{
  height:'40px';
  margin-left: auto; 
margin-right: 0;
  align-items: 'center';
}

.resize-container {
  display: inline-block;
  position: relative;
}

.resize-input,
.resize-text {
  margin: 0;
  padding: 2px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 36px;
  max-width: 640px;
}

.resize-text {
  padding-right: 20px;
  display: inline-block;
  visibility: hidden;
  white-space: pre;
}
  
.resize-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}