/* https://palettes.shecodes.io/palettes/grey/color */

* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #c7b198;
}

.topnav ul{
  list-style-type: none;
 }

 .topnav li{
  display: inline;
 }

 .topnav a{
  float: right;
  color: #333;
  padding: 25px;
  background-color: transparent;
  text-decoration: none;
 }

 .topnav a:hover {
  color: #dfd3c3;
 } 
 
 .topnav a.active{
  color: #f0ece2;
 }

.topnav img{
  float: left;
  margin: 0px 50px;
  width: 80px;
  height: auto;
}

#homeimg{
  display: block;
  margin: 0 auto;
  width: 80%;
}

.centerDiv{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

button {
  border: none;
  background-color: transparent;
}